# Cargo generates these directories.
# They contain compiled files, executables, and documentation.
debug/
target/
book/

# rustfmt generates these backup files.
**/*.rs.bk

# rustc generates these PDB files for MSVC Windows builds.
# PDB files contain debug information.
*.pdb

# Output from local package validation.
packaged/
staging/

# RustRover
# JetBrains maintains its template at:
# https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# Add that template to the global ignore file, or merge it into this file.
# To ignore the complete .idea directory, remove the comment marker from the next line.
#.idea/

.vs/

# CI generates these SBOM files.
*.cdx.json
*.cdx.xml
__pycache__/
