#!../../../sbin/tac_plus-ng

id = spawnd {
  background = no
  listen { port = 4949 aaa.protocol = tacacs.tcp }
  listen { port = 4449 tls = yes aaa.protocol = tacacs.tls }
  spawn {
    instances min = 1
    instances max = 32
  }
}

id = tac_plus-ng {
  log accesslog { destination = ">/proc/1/fd/1" }
  log authorlog { destination = ">/proc/1/fd/1" }
  log acctlog { destination = ">/proc/1/fd/1" }
  log connlog { destination = ">/proc/1/fd/1" }

  access log = accesslog
  authorization log = authorlog
  accounting log = acctlog
  connection log = connlog

  aaa.protocol.allowed = tacacs.tcp,tacacs.tls

  tls cert-file = /usr/local/etc/certificates/server.crt
  tls key-file = /usr/local/etc/certificates/server.key
  tls ca-file = /usr/local/etc/certificates/ca.crt

  rewrite any-user {
    rewrite /^.*$/ tacacs_any
  }

  device world {
    address = ::/0
    address = 0.0.0.0/0
    key = tac_plus_key
    enable 15 = permit
    single-connection = yes
    tls.peer.cert.validation = none
    script { rewrite user = any-user }
  }

  profile allow-all {
    enable 15 = permit
    script {
      permit
    }
  }

  user tacacs_any {
    password login = permit
    password pap = permit
    password chap = permit
    password ms-chap = permit
    enable 15 = permit
    profile = allow-all
    rewritten-only
  }

  user admin {
    password login = permit
    password pap = permit
    password chap = permit
    password ms-chap = permit
    enable 15 = permit
    profile = allow-all
  }

  user tacacsremote {
    password login = permit
    password pap = permit
    password chap = permit
    password ms-chap = permit
    enable 15 = permit
    profile = allow-all
  }
}