#!../../../sbin/tac_plus-ng

id = spawnd {
  background = no
  listen { port = 4949 aaa.protocol = tacacs.tcp }
  listen { port = 4449 tls = yes aaa.protocol = tacacs.tls }
  listen { port = 4450 tls = yes tls psk = yes aaa.protocol = tacacs.tls }
  spawn {
    instances min = 1
    instances max = 32
  }
}

id = tac_plus-ng {
  log accesslog { destination = ">/dev/null" }
  log authorlog { destination = ">/dev/null" }
  log acctlog { destination = ">/dev/null" }
  log connlog { destination = ">/dev/null" }

  access log = accesslog
  authorization log = authorlog
  accounting log = acctlog
  connection log = connlog

  aaa.protocol.allowed = tacacs.tcp,tacacs.tls

  tls cert-file = /usr/local/etc/certificates/server.crt
  tls key-file = /usr/local/etc/certificates/server.key
  tls ca-file = /usr/local/etc/certificates/ca.crt

  tls psk id = psk-demo
  tls psk key = 1ba799729c830152c91d4fbca5149972
  tls cipher-suites = TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384
  tls psk dhe-supported-groups = X25519:P-256
  tls psk key-exchange = auto

  device world {
    address = ::/0
    address = 0.0.0.0/0
    key = tac_plus_key
    enable 15 = permit
    single-connection = yes
    tls.peer.cert.validation = none
  }

  profile allow-all {
    enable 15 = permit
    script {
      permit
    }
  }

  user testuser {
    password login = permit
    password pap = permit
    password chap = permit
    password ms-chap = permit
    enable 15 = permit
    profile = allow-all
  }

  user admin {
    password login = permit
    password pap = permit
    password chap = permit
    password ms-chap = permit
    enable 15 = permit
    profile = allow-all
  }

  user tacacsremote {
    password login = permit
    password pap = permit
    password chap = permit
    password ms-chap = permit
    enable 15 = permit
    profile = allow-all
  }
}